body {
    margin: 0;

    font-family: 'Ysabeau SC', sans-serif;
    font-size: 14px;
    color: #000;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;

    width: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}






*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

.margin-20-0 {
    margin: 20px 0;
}

.padding-10-0{
    padding: 10px 0;
}

.justify-content-center {
    display: flex;
    justify-content: center;
}

.main {
    nav {
        a {
            cursor: pointer;
            color: #000;
        }
    }

    .prime {
        background-color: var(--bs-gray-400);
        padding: 40px 0;

        #prime {
            .img-container {
                max-width: 500px;

                img {
                    max-width: 100%;
                    height: auto;
                }
            }

            P {
                font-size: 18px;
            }

            .hilich-text {
                padding: 20px;

                div {
                    margin-top: 20px;
                }

                @media (max-width: 992px) {
                    padding-top: 0;

                    div {
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    .about {
        padding: 20px 0 40px 0;

        

        .img-container {
            max-width: 300px;
            // margin: 20px 0;

            img {
                max-width: 100%;
                height: auto;
            }
        }

        p {
            font-size: 18px;
        }

        .row {
            background-color: var(--bs-gray-400);
            border-radius: 10px;
        }

    }
}